.taxinrides{
    background-image: url('../img/projects/taxinrides.com.png');
}

.sakura{
    background-image: url('../img/projects/sakura.png');
}

.enigma{
    background-image: url('../img/projects/enigma.png');
}